---
title: Welcome to Middleman
nav_active: "home"
---
<%
markdown = Redcarpet::Markdown.new(Redcarpet::Render::HTML, autolink: true, tables: true)
%>

<div class="container">
  <%=markdown.render(File.read('README.md')).html_safe%>
</div>
